<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934905734280-kc1rtk9ok3upb7feqjoavgdospkocp76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934905734280-kc1rtk9ok3upb7feqjoavgdospkocp76</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934905734280-3o69ejp2udnfd0vb6iq5a501qc8p4j09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBftPzPjg0bKMs4FtSBJfwlYtiMhn0Ta-8</string>
	<key>GCM_SENDER_ID</key>
	<string>934905734280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ohguohgu.app.expert</string>
	<key>PROJECT_ID</key>
	<string>ohguohguexpert</string>
	<key>STORAGE_BUCKET</key>
	<string>ohguohguexpert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934905734280:ios:495e5cb22dd8d9df25ab3d</string>
	<key>DATABASE_URL</key>
	<string>https://ohguohguexpert.firebaseio.com</string>
</dict>
</plist>